.world {
  width: inherit;
  height: inherit;
  position: relative;
  transform-origin: left top;
}

.viewport {
  border: 1px black solid;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.pan_button {
  position: absolute;
  top: 0;
  right: 0;
}
