.world {
  width: 90vh;
  height: 90vh;
  position: relative;
  aspect-ratio: 1/1;
  transform-origin: 0 0;
}

.viewport {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.planted {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDragMode :global(.plant-type) {
  pointer-events: none;
}

.grid {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  overflow: visible;
}
