.gardencontainer {
  background-image: url("/dirt-tile.svg");
  background-repeat: repeat;
  background-size: 100px 100px;
  background-color: #5C3D2E;
  position: absolute;
  border: 10px solid #C4985A;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
