.gardencontainer {
  background-color: lch(28.39% 34.86 67.29);
  position: absolute;
  border: 10px solid rgb(172, 107, 33);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
